header-admin

section.container-fluid.container-dashboard
	div.row
			
		button.btn.btn-section.btn-full((click)="goToClients()") Propuestas
		button.btn.btn-section.btn-full((click)="goToReports()") Reportes
		button.btn.btn-section.btn-full((click)="goToNoticias()") Noticias
		button.btn.btn-section.btn-full((click)="goToSliders()") Sliders
		button.btn.btn-section.btn-full((click)="goToBiografia()") Biografía
		//- button.btn.btn-section.btn-full((click)="signOut()") Cerrar Sesión